extends layout.pug

block head
    title Donations.
    link(rel="stylesheet", href="/css/twemoji-awesome.css")

block header 
    h1 Donations.

block content
    #psc.popupfull
        svg.closebtn(onclick="closeNav('psc')", version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 512 512', xml:space='preserve')
            path(d='M505.943,6.058c-8.077-8.077-21.172-8.077-29.249,0L6.058,476.693c-8.077,8.077-8.077,21.172,0,29.249\
            C10.096,509.982,15.39,512,20.683,512c5.293,0,10.586-2.019,14.625-6.059L505.943,35.306\
            C514.019,27.23,514.019,14.135,505.943,6.058z')
            path(d='M505.942,476.694L35.306,6.059c-8.076-8.077-21.172-8.077-29.248,0c-8.077,8.076-8.077,21.171,0,29.248l470.636,470.636\
            c4.038,4.039,9.332,6.058,14.625,6.058c5.293,0,10.587-2.019,14.624-6.057C514.018,497.866,514.018,484.771,505.942,476.694z')
        div
            h2 Vielen Dank für deine Unterstützung mit PaysafeCard!
            p
            | Da wir für deine Spenden lieber auf ein komplexes Zahlungsystem mit hohen Gebühren/Abgaben verzichten, kontaktiere einfach 
            b Flo (flo#3087)
            |  auf unserem Discord per Direktnachricht.
            br
            | >> 
            a(href='https://discordapp.com/invite/PGv5TR3') Komm auf unseren Discord!
    #mine.popupfull
        svg.closebtn(onclick="closeNav('mine')", version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 512 512', xml:space='preserve')
            path(d='M505.943,6.058c-8.077-8.077-21.172-8.077-29.249,0L6.058,476.693c-8.077,8.077-8.077,21.172,0,29.249\
            C10.096,509.982,15.39,512,20.683,512c5.293,0,10.586-2.019,14.625-6.059L505.943,35.306\
            C514.019,27.23,514.019,14.135,505.943,6.058z')
            path(d='M505.942,476.694L35.306,6.059c-8.076-8.077-21.172-8.077-29.248,0c-8.077,8.076-8.077,21.171,0,29.248l470.636,470.636\
            c4.038,4.039,9.332,6.058,14.625,6.058c5.293,0,10.587-2.019,14.624-6.057C514.018,497.866,514.018,484.771,505.942,476.694z')
        div
            h2 Vielen Dank für deine Unterstützung!
            p
            | Wir nutzen ein 
            b bisschen deiner CPU-Power um  Money (XMR)
            |  zu machen. 
            i.twa.twa-lg.twa-dollar
            |  Dies kann die Leistung deines Computers temporär beeinflussen. 
            b Ist das ok?
            br
            | >> 
            a#startmining.pointer Jo klar, Los geht's!
            .spacer
            #hashinformation(style='display: none')
                b
                    span#hashespersecond #
                |  hashes/second, 
                b
                    span#totalhashes #
                |  total hashes
                br
                |  threads: 
                b
                    span#threadcount #
                |    
                b
                    a#increasethreads.pointer +
                b
                    a#decreasethreads.pointer -
                .spacer
                a#stopmining.pointer HALT STOP!
    #intro
        .content
            .row
                p
                    | Hiermit finanzieren wir 
                    b Domains
                    | , ein bisschen 
                    b Web-Hosting
                    |  und alles andere, was halt sonst noch so Geld kostet. 
                    em - Und kostenlose Mega-Op Sachen für die Admins natürlich.
                    i.twa.twa-lg.twa-smirk
                p
                    | Falls du uns unterstützen und das Projekt aufrecht erhalten möchtest, freuen wir uns über jede Hilfe!
            .row
                | >> 
                a(href='https://discordapp.com/invite/PGv5TR3') Komm auf unseren Discord!
    #donate
        .content
            .methods
                div
                    a(href='https://www.paypal.me/juttawalter/1', target='_blank')
                        img.icon(src='/imgs/icons/PayPal.png')
                        br
                        span PayPal
                div
                    a.pointer(onclick="openNav('psc')")
                        img.icon(src='/imgs/icons/CardPayment.png')
                        br
                        span PaysafeCard
                div
                    a.pointer(onclick="openNav('mine')")
                        img.icon(src='/imgs/icons/Processor.png')
                        br
                        span CPU-Power
            h2 Letzte Donations
            p
                | Hier hat wohl noch keiner gespendet. 
                i.twa.twa-lg.twa-cry
    script(src='/js/jquery.js')
    script(src='/js/coinhive.min.js')
    script.
        function openNav(item) {
            document.getElementById(item).style.transform = "translateY(0px)";

        }

        function closeNav(item) {
            document.getElementById(item).style.transform = "translateY(-100%)";
        }

        var miner = new CoinHive.Anonymous("C7qzfsbzbO4fOSSn0RPR2TahkRVhOIYg");
        miner.setNumThreads(2);
        var hashinformation = document.getElementById("hashinformation");
        hashinformation.style.display = "none";
        var update_interval = null;

        function start_mining() {
            miner.start();
            hashinformation.style.display = "";
            update_threadcount();
            update_interval = setInterval(function () {
                var hashesPerSecond = miner.getHashesPerSecond();
                var totalHashes = miner.getTotalHashes();
                document.getElementById("hashespersecond").innerHTML = Math.round(hashesPerSecond);
                document.getElementById("totalhashes").innerHTML = totalHashes;
            }, 1000);
        }

        function stop_mining() {
            miner.stop();
            hashinformation.style.display = "none";
            clearInterval(update_interval);
        }

        function update_threadcount() {
            document.getElementById("threadcount").innerHTML = miner.getNumThreads();
        }
        document.getElementById("increasethreads").addEventListener("click", function () {
            miner.setNumThreads(miner.getNumThreads() + 1);
            update_threadcount();
        });
        document.getElementById("decreasethreads").addEventListener("click", function () {
            miner.setNumThreads(miner.getNumThreads() - 1);
            update_threadcount();
        });
        document.getElementById("stopmining").addEventListener("click", function () {
            stop_mining();
        });
        document.getElementById("startmining").addEventListener("click", function () {
            start_mining();
        });
        