extends layout.pug

block head
    title designhub.

block header 
    h1 designhub.

block content
    #intro
        .content
            .row
                h2 Wir sind designhub!
                p
                | - eine Community, bestehend aus einer 
                b Vielzahl von Designern und Entwicklern
                | , mit dem Ziel, diese untereinander zu verbinden und zu unterstützten, indem wir sie zu einer großen Community zusammenbringen. Für dieses Netzwerk stellen wir ein Forum sowie einen eigenen 
                b Discord-Server mit etwa 200 Mitgliedern 
                | zur Verfügung, die in erster Linie für den gegenseitigen Austausch zwischen Designern und zur Lösung von Problemen sowie Hilfestellungen dienen.
            .row
                | >> 
                a(href='https://discordapp.com/invite/PGv5TR3') Komm auf unseren Discord!