extends layout.pug

block head
    title Leaderboard.

block header 
    h1 Leaderboard.

block content
    #intro
        .content
            .row
            | Pro Nachricht auf unserem Discord erhälst du eine zufällige Menge XP zwischen 15 und 20. Um Spam zu vermeiden, kannst du nur einmal pro Minute XP bekommen. - Das heißt, je aktiver du bist, desto besser wirst du im Ranking platziert!
            br
            .row
            h2 Chest-System
            p
                | Jedes mal, wenn ihr eine gerade Levelanzahl erreicht, bekommst du automatisch eine neue Chest, die du mit 
                b !chest
                |  öffnen kannsst. Darin erwarten dich 
                b *hust*
                |  TOLLE 
                b *hust*
                |  Überraschungen, wie zb Gutschein-Codes auf den
                | 					Kauf dein nächstes Designs!
            .row
            h2 Designhub Discord
            |  Auf unserem Discord Server kannst du mit 
            b !rank
            |  deinen aktuellen Platz im Ranking sowie dein Level erfahren.
            .row
            | >> 
            a(href='https://discordapp.com/invite/PGv5TR3') Komm auf unseren Discord!
    #levels
        .content.table
    script(src='/js/jquery.js')
    script(type='text/javascript').
        function xpForLevel(n) {
            return 5 * (n ^ 2) + 50 * n + 100
        }

        function xpToLevel(xp) {
            var remaining_xp = xp
            var level = 0;
            while (remaining_xp >= xpForLevel(level)) {
                remaining_xp -= xpForLevel(level)
                level += 1
            }
            return level;
        }

        function buildItem(entry) {
            if (!entry) return "false";
            var username = entry.username;
            if (username.length > 12) username = username.slice(0, 12) + "...";
            var level = xpToLevel(entry.xp);
            var remaining_xp = entry.xp;
            for (l = 0; l < level; l++) {
                remaining_xp -= xpForLevel(l);
            }
            var level_xp = xpForLevel(level);
            var procent = ((remaining_xp / level_xp) * 100).toFixed(0);
            return '<div class="row"><div class="item id"><h3>#' + entry.rank + '</h3></div><div class="item pp"><img onerror="this.src=&quot;/imgs/default.jpg&quot;" src="' + entry.avatar + '"></div><div class="item username"><h3>' + username + '<span>#' + entry.discriminator +
                '</span></h3></div><div class="item stats"><b>Level ' + level + '</b><br><b>' + remaining_xp + '/' + level_xp + ' XP</b> <em>(' + entry.xp + ' XP)</em> <br><b>' + entry.chests + ' Chests</b></div></div>';
        }
        $(document).ready(function () {
            var offset = 0
            $.ajax({
                type: "GET",
                url: "https://api.dsgnhb.de/levels",
                contentType: 'application/json; charset=utf-8',
                success: function (r) {
                    var items = "";
                    const json = r;
                    for (var i = offset; i < 10 + offset; i++) {
                        var entry = json[i];
                        var item = buildItem(entry);
                        if (item !== "false") {
                            items += item;
                        }
                    }
                    $('.table').append(items);
                    offset += 10
                    var w = $(window)
                    w.scroll(function () {
                        if ($(document).height() - w.height() == w.scrollTop()) {
                            var items = "";
                            for (var i = offset; i < 10 + offset; i++) {
                                var entry = json[i];
                                var item = buildItem(entry);
                                if (item !== "false") {
                                    items += item;
                                }
                            }
                            $('.table').append(items);
                            offset += 10
                        }
                    });
                },
                error: function (r) {
                    console.log(r)
                    $('.table').append("<p>Unknown Error.</p>");
                }
            });
        });
